body{
    background: black;
}
a {
    text-decoration: none;
    color: hotpink;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: lowercase;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

section{
    padding: 0 0 50px;
}

.container{
    max-width:80%;
    margin:0 auto;
}

.row{
    display:flex;
    flex-wrap: wrap;
    margin:0 -15px;
    row-gap:30px;
}

.col-3{
    width:25%;
    padding:0 15px;
}

.col-6{
    width: 50%;
    padding:0 15px;
   }

h1{
    text-align: center;
    color: chartreuse;
    font-size: 60px;
    letter-spacing: 0.5rem;
    padding: 0 0 40px;
}
.image__box {
    border: 1px solid cornflowerblue;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    height: 400px;
}

.image__box:hover{
    scale: 1.1;
    transition: 0.4s ease;
    background-color: plum;
    border: 1px solid black;
}


.image__box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.image__box p{
    font-family: "monospace";
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: lavender;
}
.details__row{
    padding: 120px 0;
}


.details__box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid palevioletred;
    border-radius: 20px;
    height: 600px;

}

.details__box img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 10px;
}

.details__box p{
    font-family: 'ui-monospace';
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: lavender;
}

.details__row{
    padding: 120px 0;
}


.details__box img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 10px;
}

.details__box p{
    font-family: 'ui-monospace';
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: lavender;
}

.details__box button.MuiButtonBase-root{
    color: cornflowerblue;
}